.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 500px;
    max-width: 500px;
    margin: 0 auto; /* Center the container horizontally */
    background: transparent; /* Light white with slight transparency */
    backdrop-filter: blur(5px); /* Adjust the blur intensity */
    padding: 30px 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    box-sizing: border-box;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
}

.text {
    color: #fff; /* Dark gray text color */
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}

.underline {
    width: 61px;
    height: 6px;
    background: #3498db; /* Blue underline color */
    border-radius: 9px;
}

.inputs {
    margin-top: 35px;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%; /* Ensure inputs take full width of container */
}

.input {
    display: flex;
    align-items: center;
    color: black;
    width: 100%;
    height: 60px;
    background: transparent; 
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: 1px solid #bdc3c7; 
} 

.input img {
    margin-right: 15px;
}

.input input::placeholder {
    color: #fff; /* White color for placeholder text */
    opacity: 1; /* Ensures full opacity; default is often lower */
}

.inputs input {
    height: 40px;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #fff; 
    font-size: 18px;
} 

.forgot-password {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    color: #fff; /* Dark gray text color for better visibility */
    font-size: 16px;
}

.forgot-password span {
    color: #fff; /* Darker blue color for clickable text */
    cursor: pointer;
}

.submit-container {
    display: flex;
    color: #fff;
    gap: 20px;
    margin-top: 40px;
    font-weight: 100;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%; /* Ensure buttons take full width of container */
}

.submit {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: black;
    background: #fff; /* Blue background for buttons */
    border-radius: 50px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

.gray {
    background: rgba(230, 230, 230, 0.9); /* Light gray with slight transparency */
    color: black; /* Dark gray text color for inactive buttons */
}

.icon {
    width: 28px;
    height: 28px;
    margin-right: 8px;
    background: none;
}

.icon2 {
    width: 18px;
    height: 18px;
    margin-right: 8px;
    background: none;
}

.icon3 {
    width: 38px;
    height: 38px;
    margin-right: 8px;
    background: none;
}
