body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif; 
    background: linear-gradient(to bottom right, #f0f8ff, #e6e6fa); 
    color: #333;
    scroll-behavior: smooth;
}

/* Container styling */
.landing-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 0 20px;
}

/* Header styling */
.landing-header {
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); 
}

.landing-header h1 {
    font-size: 3rem;
    color: #333;
    letter-spacing: 1.5px; 
    font-weight: 700;
}

.landing-header .loadingheader {
    color: #28a745;
    font-style: italic; 
}

.landing-header p {
    font-size: 1.2rem;
    color: #666;
    margin-top: 10px;
    line-height: 1.5; 
}

.landing-buttons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.btn {
    display: inline-block;
    padding: 15px 35px;
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    background: (to bottom right, #007bff, #0056b3);
    transition: all 0.4s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
} 

.guest {
    background-color:  #007bff
}

.hotel {
    background-color:  #28a745;
}

.btn:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); 
    opacity: 0.9;
}

/* Smooth animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.landing-header h1, .landing-header p, .landing-buttons {
    animation: fadeIn 1s ease-in-out;
}
